body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f4ea;
}
header{
    width: 100%;
    margin: 0;
}
nav{
    position: relative;
    top: 0;
    left: 0;
}
a{
    text-decoration: none;
    color: #282B2B;
}

/*ハンバーガーメニューのcss*/
.nav{
    position: fixed;
    z-index: 9999;
}
.drawer_hidden{
    display: none;
}
.drawer_open{
    display: flex;height: 60px;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0.8rem;
    left: 120rem;
    z-index: 100;
    cursor: pointer;
}
.drawer_open span, .drawer_open span::before, .drawer_open span::after{
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #333;
    transition: 0.5s;
    position: absolute;
}
.drawer_open span::before{
    bottom: 8px;
}
.drawer_open span::after{
    top: 8px;
}
#drawer_input:checked ~ .drawer_open span{
    background: rgba(255, 255, 255, 0)
}
#drawer_input:checked ~ .drawer_open span::before{
    bottom: 0;
    transform: rotate(45deg);
}
#drawer_input:checked ~ .drawer_open span::after{
    top: 0;
    transform: rotate(-45deg);
}
.nav_content{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99;
    transition: .5s;
}
.nav_list{
    list-style: none;
}
#drawer_input:checked ~ .nav_content{
    left: 0;
}



.nav-bg{
    background-color: #000;
    width: 100%;
    height: 100%;
}
.nav-bg2{
    background: url(image/header/nav-mashroom.png) no-repeat center top;
    opacity: 0.33;
    width: 100%;
    height: 100%;
}
.nav-whole{
    color: #fff;
    width: 100%;
    height: 100%;
    opacity: 1;
}
.nav-info{
    width: 80%;
    margin: auto;
}
.nav-item{
    width: 1000px;
    margin: auto;
    position: relative;
}
.nav-text1{
    width: 100%;
    position: absolute;
    top: 13rem;
    right: 9rem;
}
.nav-p1{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}
.nav-p2{
    position: absolute;
    top: 4rem;
    left: 0.2rem;
    color: #fff;
}
.nav-text2 {
    width: 100%;
    position: absolute;
    top: 20rem;
    right: 9rem;
}
.nav-text3 {
    width: 100%;
    position: absolute;
    top: 28rem;
    right: 9rem;
}
.nav-text4{
    width: 100%;
    position: absolute;
    top: 36rem;
    left: -9rem;
}
.nav-text5{
    width: 100%;
    position: absolute;
    top: 44rem;
    left: -9rem;
}
.nav-text6 {
    width: 100%;
    position: absolute;
    top: 13rem;
    left: 25rem;
}
.nav-text7 {
    width: 100%;
    position: absolute;
    top: 20rem;
    left: 25rem;
}
.nav-text8 {
    width: 100%;
    position: absolute;
    top: 28rem;
    left: 25rem;
}
.nav-text9 {
    width: 100%;
    position: absolute;
    top: 36rem;
    left: 25rem;
}
.nav-text10 {
    width: 100%;
    position: absolute;
    top: 44rem;
    left: 25rem;
}
.nav-text11 {
    width: 100%;
    position: absolute;
    top: 13rem;
    left: 50rem;
}
.nav-text12{
    width: 100%;
    position: absolute;
    top: 61rem;
    left: 15rem;
}
.nav-p3{
    color: #fff;
    font-weight: bold;
}
.nav-text13 {
    width: 100%;
    position: absolute;
    top: 61rem;
    left: 30rem;
}
.nav-text14 {
    width: 100%;
    position: absolute;
    top: 61rem;
    left: 45rem;
}

.header{
    display: flex;
}

.top-text{
    font-size: 0.5rem;
    position: relative;
    left: 60%;
}


.main{
    width: 100%;
    margin: auto;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
    position: relative;
}
.hd-slide-info{
    position: relative;
    left: 5rem;
}

.hd-slide{
    position: relative;
}
.hd-img{
   text-align: center;
    margin: 0 auto;
}
.hd-img img{
    width: 90vw;
    height: 1000px;
    object-fit: cover;
}
.ch-info{
    width: 1200px;
    margin: auto;
    color: #fff;
    text-align: center;
}
.ch-whole{
    position: relative;
    top: -40rem;
}
.headline{
    font-size: 1.2rem;
}
.ch-text{
    font-size: 5rem;
    padding: 2rem 0;
}
.ch-but{
    font-size: 1rem;
    border: #000;
    background-color: #ff9934;
}
.ch-but :hover{
    background-color: #e2882d;
}
.ch-but-info{
    padding: 1rem 2rem;
}
.hd-info{
    width: 1200px;
    margin: auto;
    color: #fff;
    text-align: center;
}
.hd-whole{
    position: relative;
    top: -40rem;
}
.headline2{
    font-size: 2rem;
}
.hd-text2{
    font-size: 1.5rem;
    padding: 2rem 0;
}
.hd-but2{
    background-color: #ff9934;
    font-size: 1rem;
    border: #000;
    position: relative;
    left: -2rem;
}
.hd-but2 :hover{
    background-color: #e2882d;
}
.hd-but{
    background-color: #ff9934;
    font-size: 1rem;
    position: relative;
}
.hd-but :hover{
    background-color: #e2882d;
}
.hd-but-info{
    padding: 1rem 2rem;
}
.headline3{
    font-size: 3rem;
}
.hd-text3{
    font-size: 1.1rem;
    padding: 2rem 0;
}

main{
    position: relative;
}

.nwes{
    position: relative;
    width: 100%;
    margin: 8rem;
}
.news-bg{
    position: absolute;
    top: -10rem;
    left: -5rem;
    z-index: -1;
}
.nw-logo{
    margin: 0 5rem;
    height: 4rem;
}
.nw-logo h2{
    font-size: 4rem;
    position: absolute;
    top: 0;
    left: 20%;
}
.nw-whole{
    padding: 10rem 0;
    scroll-behavior: auto;
    position: relative;
}
.nw-info{
    background-color: #fff;
   /* margin: 0 20%;*/
    width: 60rem;
    margin: auto;
    max-height: 30rem;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: auto;
    padding:  2rem;
}
.nw-day{
    border-top: 1px solid #e2ded5;
    border-bottom: 1px solid #e2ded5;
    padding: 1px 0;
    position: relative;
}
time{
    width: 10rem;
    position: relative;
    top: 0.8rem;
}
.news-text{
   width: 80%;
   position: relative;
   left: 12rem;
   top: -1rem;
}
.hosoku{
    font-size: 0.8rem;
    position: relative;
    left: 12rem;
    
}
.view{
    background-color: #fff;
    text-align: center;
    width: 60rem;
    padding: 1rem 0;
    margin: auto;
}
.view:hover{
    background-color: #dddad2;
}
.concept{
    position: relative;
    width: 90%;
    margin: auto;
    height: 1000px;
}
.mash{
    position: absolute;
    top: 20rem;
    right: 0;
    transform: rotate(-20deg);
    z-index: 0;
}
.ccp-back{
    position: absolute;
    width: 30rem;
}
.ccp-back1{
    color: #f7f4ea;
    -webkit-text-stroke: 0.4px #ff9934;
    font-size: 7rem;
    position: absolute;
    top: 37rem;
    left: 5rem;
}
.ccp-back2{
    color: #f7f4ea;
    -webkit-text-stroke: 0.4px #ff9934;
    font-size: 7rem;
    position: absolute;
    top: 45rem;
    left: 45rem;
}
.ccp-logo{
    font-size: 3rem;
    position: absolute;
    top: 2rem;
    left: 10%;
}
.ccp-text{
    position: relative;
    top: 15rem;
    left: 10%;
    width: 55rem;
}
.ccp-head{
    font-size: 1.5rem;
    padding: 2rem;
}
.ccp-p{
    line-height: 2rem;
}
.ccp-txt1{
    padding-bottom: 1rem;
    font-size: 1.1rem;
}
.kome1{
    font-size: 0.6rem;
}
.ccp-txt2{
    font-size: 1.1rem;
    padding-bottom: 1rem;
}
.ccp-txt2 span{
    font-size: 0.8rem;
}
.omotesando{
    position: relative;
}
.omt-back{
    height: 10rem;
    width: 100%;
    background: url(/image/section3/background-top.png) no-repeat center top;
    background-size: cover;
}
.omt-back1{
    position: relative;
   background-color: #fff;
   height:60rem;
   width: 100%;

}
.omt-logo{
    position: relative;
    font-size: 3rem;
    top: 3.8rem;
    left: 10%;
}
.omt-rubi{
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    top: -3rem;
}
.omt-main{
    width: 1200px;
    margin: auto;
    margin: auto;
}
.omt-gaikan{
    position: absolute;
    top: 15rem;
    left: 50rem;
}
.gaikan-img img{
    width: 50rem;
}
.omt-text{
    width: 35rem;
    height: 35rem;
    position: relative;
    top: 2rem;
    
    background-color: #fff;
}
.omt-info{
    width: 100%;
    padding: 3rem 1.5rem;
}
.omt-txt-logo{
   padding-bottom: 1.5rem;
}
.omt-txt-logo h3{
    font-size: 1.4rem;
}
.omt-txt-logo p{
    font-weight: bold;
    font-size: 0.8rem;
}
.omt-txt-add{
    padding-left: 1.5rem;
}
.omt-txt-add p{
    padding-bottom: 1rem;
}
.omt-txt-add a{
    font-weight: bold;
}
.omt-txt-time{
    padding-bottom: 1.5rem;
}
.noon{
    padding-bottom: 1.5rem;
}
.open{
    font-weight: bold;
}
.noon span{
    font-weight: bold;
}
.night{
    padding-bottom: 1.5rem;
}
.night span{
    font-weight: bold;
}
.rest{
    font-weight: bold
}
.menu{
    width: 100%;
    height: 85rem;
    position: relative;
    background-color: #fff;
}
.soup{
    position: absolute;
    top: 0;
    left: 10%;
}
.soup img{
    width: 21rem;
    height: 26rem;
}
.mokuji{
    z-index: 15;
    position: absolute;
    top: 5rem;
    left: 45%;
}
.menu-img2{
    width: 100%;
}
.hirahira{
    position: absolute;
    text-align: right;
    top: -1rem;
    left: 70%;
}
.hirahira img{
    width: 21rem;
    height: 26rem;
}
.sote{
    position: absolute;
    top: 30rem;
    left: 26%;
}
.sote img{
    width: 21rem;
    height: 23rem;
}
.spaghetti{
    position: absolute;
    top: 35rem;
    left: 65%;
}
.spaghetti img{
    width: 21rem;
    height: 20rem;
}
.compote{
    position: absolute;
    top: 55rem;
    left: 10%;
}
.compote img{
    width: 21rem;
    height: 20rem;
}
.menu-bottom{
    width: 100%;
    height: 10rem;
    position: relative;
}
.bw-normal{
    width: 100%;
    height: 5rem;
}
.bw-normal img{
    width: 100%;
}
.ohanashi{
    width: 100%;
    height: 110rem;
    position: relative;
    display: block;
}
.between{
    width: 100%;
    height: 61.2rem;
    position: relative;
    top: -3rem;
}
.bw-img-top{
    padding-top: 10rem;
    z-index: 1;
    position: absolute;
    top: 5rem;
}
.bw-img-top img{
    width: 100vw;
}
.bw-img{
    width: 100%;
    height: 57.2rem;
    position: absolute;
    top: 7rem;
    overflow: hidden;
    padding-top: 8rem;
}
.bw-img img{
  width: 100vw;
}

.bw-img-bottom{
    width: 100%;
    position: absolute;
    top: 53rem;
    z-index: 1;
}
.bw-img-bottom img{
    width: 100%;
}
.story{
    width: 100%;
    height: 50rem;
    position: relative;
    background-color: #fff;
}
.st-logo{
    font-size: 3rem;
    height: 10rem;
}
.st-logo1{
    position: absolute;
    top: 7rem;
    left: 12rem;
}
.st-logo2{
    position: absolute;
    top: 7rem;
    left: 27rem;
}
.st-logo3{
    position: absolute;
    top: 7rem;
    left: 32rem;
}
.st-info{
    position: relative;
    width: 100%;
}
.st-whole{
    width: 1000px;
    margin: auto;
    text-align: center;
    position: relative;
}
.story-img{
    position: absolute;
    left: -15rem;
    top: 10rem;
}
.story-img img{
    width: 40rem;
}
.kobanashi-img{
    position: absolute;
    top: 10rem;
    left: 35rem;
}
.kobanashi-img img{
    width: 40rem;
}
.company{
    width: 100%;
    height: 120rem;
    position: relative;
    background-color: #fff;
}
.cp-text-back{
    position: absolute;
    width: 50rem;
    z-index: 0;
}
.cp-text-back1{
    color: #fff;
    -webkit-text-stroke: 0.4px #ff9934;
    font-size: 7rem;
    position: absolute;
    top: 30rem;
    left: 8rem;
    z-index: 1;
}
.cp-text-back2{
    color: #fff;
    -webkit-text-stroke: 0.4px #ff9934;
    font-size: 7rem;
    position: absolute;
    top: 38rem;
    left: 29rem;
    width: 100rem;
    z-index: 1;
}
.cp-logo{
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    left: 10rem;
}
.cp-profile{
    text-align:left;
    position: relative;
    height: 40rem;
}
.profile-text{
    width: 30rem;
    height: 25rem;
    position: absolute;
    left: 20rem;
    top: 15rem;
}
.pro-p1{
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 2rem;
}
.profile-text h2{
    font-size: 5rem;
    padding-bottom: 2rem;

}
.pro-p2{
    font-size: 1rem;
    font-weight: bold;
    padding: 2rem 0;
}
.pro-p3{
    font-weight: lighter;
    font-size: 1rem;
    color: #230e00;
}
.ceo{
    position: absolute;
    top: 10rem;
    left: 60rem;
}
.ceo-img img{
    width: 35rem;
}
.mission{
    position: relative;
    width: 100%;
    height: 550px;
    padding-bottom: 5rem;
}
.mission-logo{
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 1.3rem;
}
.ms{
    width: 800px;
    margin: auto;
}
.ms-info{
    position: absolute;
    width: 810px;
    border: solid;
    padding-left: 3rem;
    top: 5rem;
}
.ms-ol{
    list-style-type: none;
    position: relative;
}
.ms-text1{
    font-size: 1.8rem;
    font-weight: bold;
    width: 100%;
    padding-left: 7rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.no{
    padding-right: 1.5rem;
    position: absolute;
    left: -1rem;
}
.ms-p1{
    font-size: 1rem;
    font-weight: lighter;
    color: #a36a00;
    position: absolute;
    top: 4.5rem;
    left: 5.5rem;
}
.ms-text2{
    font-size: 1.8rem;
    font-weight: bold;
    width: 100%;
    padding-left: 7rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}
.ms-p2{
    font-size: 1rem;
    font-weight: lighter;
    color: #a36a00;
    position: absolute;
    top: 10.8rem;
    left: 6rem;
}
.ms-text3{
    font-size: 1.8rem;
    font-weight: bold;
    width: 90%;
    height: 10rem;
    padding-left: 7rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.cminfo{
    width: 100%;
    height: 550px;
    position: relative;
}
.cf-logo{
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}
.cf{
    width: 800px;
    margin: auto;
}
.cf-info{
    position: absolute;
    width: 810px;
    height: 22rem;
    border: solid;
    padding-left: 3rem;
    top: 5rem;
}
.cf-dl{
    position: relative;
}
.cf-text1{
    font-size: 0.8rem;
    position: absolute;
    top: 3rem;
    left: 5rem;
}
.cf-text1 dd{
    font-size: 1rem;
    font-weight: bold;
}
.cf-text2{
    font-size: 0.8rem;
    position: absolute;
    top: 3rem;
    left: 28rem;
}
.cf-text2 dd{
    font-weight: bold;
    font-size: 1rem;
}
.cf-text3{
    font-size: 0.8rem;
    position: absolute;
    top: 8rem;
    left: 5rem;
}
.cf-text3 dd{
    font-weight: bold;
    font-size: 1rem;
}
.cf-text4{
    font-size: 0.8rem;
    position: absolute;
    top: 8rem;
    left: 28rem;
}
.cf-text4 dd{
    font-weight: bold;
    font-size: 1rem;
}
.cf-text5{
    font-size: 0.8rem;
    position: absolute;
    top: 12rem;
    left: 5rem;
}
.cf-text5 dd{
    font-weight: bold;
    font-size: 1rem;
}
.cf-text6{
    font-size: 0.8rem;
    position: absolute;
    top: 12rem;
    left: 28rem;
}
.cf-text6 dd{
    font-weight: bold;
    font-size: 1rem;
}
.cf-text7{
    font-size: 0.8rem;
    position: absolute;
    top: 16rem;
    left: 5rem;
}
.cf-text7 dd{
    font-weight: bold;
    font-size: 1rem;
}
.cp-bottom{
    width: 100%;
    position: relative;
}
.cp-bottom-img{
    position: absolute;
    top: 5rem;
}
.cp-bottom-img img{
    width: 100vw;
}
.item{
    width: 100%;
    height: 60rem;
    position: relative;
    top: 10rem;
}
.item-logo{
    width: 100%;
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    left: 10rem;
}
.item-info{
    width: 1000px;
    margin: auto;
}
.private{
    text-align: center;
    position: relative;
    width: 25rem;
    height: 45rem;
}
.pri-slider{
    width: 25rem;
    position: relative;
}
.pri-item{
   position: absolute;
    top: 15rem;
    left: 0;
}
.pri-cary img{
    width: 25rem;
}
.pri-pac img{
    width: 25rem;
}

.pr-text{
    width: 25rem;
    height: 18rem;
    position: absolute;
    top: 40rem;
    left: 0;
   
    background-color: #fff;
}
.pr-text :hover{
    background-color: #dddad2;
}
.pr-text-info{
    height: 18rem;
    padding: 1rem;
    position: relative;

}
.pr-p1{
    color: #a36a00;
    padding: 2rem 0;
    font-weight: bold;
}
.pr-p2{
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0 2rem;
    padding-bottom: 1rem;
}
.pr-p3{
    font-weight: bold;
}
.pr-p3 span{
    font-size: 0.8rem;
    font-weight: lighter;
}
.original{
    text-align: center;
    position: relative;
    top: -44rem;
    width: 25rem;
    height: 45rem;
}

.ori-slider{
    width: 25rem;
    position: relative;
}
.ori-item {
    position: absolute;
    top: 14rem;
    left: 35rem;
}
.ori-cary{
    width: 25rem;
    height: 25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #fff;
}
.ori-cary img{
    width: 25rem;
}
.ori-pac img{
    width: 25rem;
}
.or-text{
    width: 25rem;
    height: 18rem;
    position: absolute;
    background-color: #fff;
    top: 38.5rem;
    left: 35rem;
}
.or-text :hover{
    background-color: #dddad2;
}
.or-text-info{
    height: 18rem;
    padding: 2rem;
    position: relative;
}
.or-p1{
    color: #a36a00;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-weight: bold;
}
.or-p2{
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.or-p3{
    font-weight: bold;
}
.or-p3 span{
    font-weight: lighter;
    font-size: 0.8rem;
}
.media{
    width: 100%;
    height: 110rem;
    position: relative;
    top: 10rem;
}
.md{
    width: 100%;
    height: 40rem;
    position: relative;
}
.md-logo{
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    left: 10rem;
}
.tv{
    width: 1000px;
    margin: auto;
    text-align: center;
    position: relative;
}
.tv-info{
    position: absolute;
    width: 35rem;
    top: 13rem;
    left: -8rem;
    background-color: #fff;
}
.tv-logo{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1.5rem 0;
}
.tv-view{
    position: relative;
}
.tv-view-info{
    padding: 1rem 0;
    border-top: 0.1rem solid #f7f4ea;
}
.tv-view :hover{
    background-color: #dddad2;
}
.web{
    width: 1000px;
    margin: auto;
    text-align: center;
    position: relative;
}
.web-info{
    position: absolute;
    width: 35rem;
    top: 13rem;
    left: 35rem;
    background-color: #fff;
}
.web-logo{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1.5rem 0;
}
.web-view{
    position: relative;   
}    
.web-view :hover{
    background-color: #dddad2;
}
.web-view-info{
    border-top: 0.1rem solid #f7f4ea;
    padding: 1rem 0;
}
.youtube{
    width: 100%;
    height: 100rem;
    position: relative;
}
.ytb-logo{
    position: absolute;
    top: -1rem;
    left: 10rem;
    font-size: 3rem;
}
.ytb-whole{
    width: 1000px;
    margin: auto;   
    height: 75rem;
    position: relative;
    left: -18rem;
}
.ytb-move1{
    width: 40rem;
    height: 25rem;
    position: absolute;
    top: 15rem;
    left: 5rem;
}
.move1{
    position: relative;
    left: 2rem;
}

.move-text{
    padding-top: 2rem;
    line-height: 2rem;
}
.ytb-move2{
    width: 40rem;
    height: 25rem;
    position: absolute;
    top: 15rem;
    left: 50rem;
}
.move2 {
    position: relative;
    left: 3rem;

}
.ytb-move3{
    width: 40rem;
    height: 25rem;
    position: absolute;
    top: 45rem;
    left: 5rem;
}
.move3{
    position: relative;
    left: 2rem;

}
footer{
    color: #fff;
}
.fot-back{
    width: 100%;
    padding-top: 10rem;
}
.fot-backimg{
    position: relative;
    top: 0.8rem;
}
.fot-backimg img{
    width: 100%;
}
.fot{
    width: 100%;
    height: 35rem;
    position: relative;
    background-color: #282B2B;
    top: 0.2rem;
}
.fot-logo{
    width: 100%;
    font-size: 3rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
}
.fot-text{
    width: 1000px;
    margin: auto;
    position: relative;
    left: -18rem;
}
.fot-mail{
    width: 35rem;
    text-align: center;
    position: relative;
}
.mail-info{
    position: absolute;
    border: solid;
    top: 20rem;
    left: 10rem;
}
.mail-img {
    position: absolute;
    top: -0.2rem;
    left: -1.5rem;
    width: 35rem;
    height: 4rem;
    object-fit: cover;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    opacity: 0;
}
.mail-info:hover .mail-img{
    opacity: 1;
    z-index: 0;
}
.mail-info:hover{
    background-color: #fff;
    color: #282B2B;
    font-weight: bold;
    z-index: 1;
}
.mail-whole{
    padding: 1.2rem 10rem;
}
.fot-tel{
    width: 35rem;
    text-align: center;
    position: relative;
}
.tel-info{
    width: 35rem;
    position: absolute;
    border: solid;
    top: 20rem;
    left: 48rem;
    padding: 1.2rem 10rem;
}
.add-whole{
    width: 1000px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 30rem;
}


